<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>บัตรประจำตัวผู้เข้าสอบ <%=@exam.fullname%></title>
    <style>
        body
        {
            

        font-family: "Tahoma";
        }


        td
        {
            
            padding:0;
        }
        .header h2
        {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            font-size: 18px;
            color: #000;
        }

        .header h3
        {
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 14px;
            color: #000;
        }

        .np1
        {
            color: #666;
            font-size: 14px;
            margin: -18px 18px 0;
        }

        .mp1
        {
            float: right;
            margin: 0 22px 0 0;
        }

        .header_sub
        {
            width: 960px;
            margin: 5px 0 0;
            border-radius: 5px 5px 0 0;
        }

            .header_sub h2
            {
                padding: 20px;
                font-size: 18px;
                color: #0A73C3;
                margin: -15px 3px 0 0;
                height: 10px;
            }

        #f1
        {
            padding-top: 10px;
        }

        #ip1
        {
            width: 100%;
            text-align: justify;
            font-size: 12px;
            color: #333;
        }

            #ip1 h3
            {
                font-size: 12px;
            }

        .im1
        {
            float: right;
            margin: -40px 0 0 0;
            font-size: 8px;
        }

        .alfin
        {
            margin-left: 18px;
            width: 300px;
            color: #2b2b2b;
            width: 400px;
            font-size: 13px;
            background: url("/images/bg.widget.png") repeat scroll;
            border: 0.3px solid #b6b6b6;
        }

            .p th
            {
                font-size: 12px;
                width: 140px;
            }

            .prdt tr
            {
                background: #fff;
            }

        .espaco
        {
            height: 5px;
        }

        #borderrightCF
        {
            border-right: 1px solid #ccc;
        }

        .alfin
        {
            padding: 10px 20px 10px;
            font-size: 13px;
            border-bottom: 1px solid #f1f1f1;
        }

        .alrsp
        {
            margin: -18px 0px 0;
            font-size: 13px;
        }

            .alrsp span
            {
                color: #000;
                text-decoration: underline;
                margin: 0 5px;
            }

        .albr
        {
            padding: 10px 0 0 0;
        }

        .iwg
        {
            font-size: 9px;
            color: #0A73C3;
            width: 200px;
            text-align: justify;
        }

        .tp01
        {
            border-collapse: collapse;
        }

            .tp01 th
            {
                color: white;
                border: 1px solid #e4e4e4;
            }

            .tp01 td, .myTable th
            {
                padding: 5px;
                border: 1px solid #e4e4e4;
            }
        #exam_logo{
            font-size: 20px;
            text-align: center;
            padding-top: 40px;
        }
        #exam_logo img{
            width: 50px;
        }
        #exam_logo .text{
            line-height: 50px;
        }
        #title_main{
            padding-top: 20px;
            font-size: 16px;
            text-align: center;
        }
        #explanation{
            padding-top: 40px;
            font-size: 16px;
            padding-left: 100px;
            padding-right: 100px; 
        }
        #exam_info{
            padding-top: 30px;
            padding-left: 100px;
            line-height: 30px;
        }
        #student_image{
            padding-top: 30px;
            padding-right: 100px;            
        }
    </style>
</head>
<body bgcolor="#e4e4e4" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased; width: 100% !important; background: #e4e4e4; -webkit-text-size-adjust: none;">

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#e4e4e4">
        <tr>
        <td bgcolor="#e4e4e4" width="100%">

            <table width="960" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
                <tr>
                <td width="960" class="cell">
                <table align="center" style="width: 960px; height: auto; background: #fff; border-radius: 5px 5px 5px 5px; border: 1px solid #ccc; padding-bottom: 120px;">
                    <tr style="border: 1px solid #ccc;">
                        <td>
                            <table width="100%">
                                <tr>
                                    <td >
                                        <div id="exam_logo">
                                            <img src="/images/logo.png" align="middle"> ผลการสอบแข่งขัน
                                        </div>
                                        <div id="title_main">
                                            การแข่งขันคณิตศาสตร์ระหว่างโรงเรียน Yorwor Mathematics Competition 2013<br/>
                                            ครั้งที่ 1 ประจำปีการศึกษา 2556<br/>
                                            ชิงถ้วยรางวัล ฯพณฯ พลเอกเปรม ติณสูลานนท์ ประธานองคมนตรีและรัฐบุรุษ</br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td>
                            <table width="100%">
                                <tr>
                                    <td >
                                        <div id="exam_info">
                                            <table width="100%">
                                                <tr>
                                                    <td >
                                                        <table width="100%">
                                                            <tr>
                                                                <td > ชื่อ-สกุล  <span style="padding-left:10px;"><%=@exam.fullname%></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td > โรงเรียน  <span style="padding-left:10px;"><%=@exam.school%> </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td > เลขประจำตัว   <span style="padding-left:15px;">    <%=@exam.code%> </span> <span style="padding-left:15px;"> ห้องสอบที่  </span><span style="padding-left:15px;"><%=room_number(@exam.room)%> </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td > ห้อง   <span style="padding-left:15px;">   <%=@exam.room_display%>    </span>   <span style="padding-left:15px;">เลขที่นั่งสอบ   </span><span style="padding-left:15px;"><%=@exam.seat%>  </span>                                        
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td > คะแนนเดี่ยว   <span style="padding-left:15px;">   <%=dash_display(@exam.score_single)%>    </span>   <span style="padding-left:15px;">ลำดับเดี่ยว   </span><span style="padding-left:15px;"><%=dash_display(@exam.no_single)%>  </span>                                        
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td > คะแนนทีม   <span style="padding-left:15px;">   <%=dash_display(@exam.score_team)%>    </span>   <span style="padding-left:15px;">ลำดับทีม  </span><span style="padding-left:15px;"><%=dash_display(@exam.no_team)%>  </span>                                        
                                                                </td>
                                                            </tr>
                                                        </table>                                               
                                                    </td>
                                                </tr>                                                 
                                            </table>
                                        </div>
                                    </td>
                                    <td > 
                                        <div id="student_image"><span style="display:block; border: 2px solid #000; width:120px; height: 100px; padding-top:60px; text-align:center;">ติดรูปถ่าย</span></div>                                                
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br />                

            </table>

        </td>
        </tr> 
        </table> 
</body>
</html>
