<div class="bs-example">
  <% if @exam_rooms.size() == 0 %>
    "ไม่พบข้อมูล"
  <%else%>
    <table class="table">
      <thead>
        <tr>
          <th>รหัสประจำตัว</th>
          <th>ชื่อ-นามสกุล</th>
          <th>โรงเรียน</th>
          <th>ระดับชั้น</th>
          <th>ดำเนินการ</th>
        </tr>
      </thead>
      <tbody>
        <% for exam in @exam_rooms do %>
        <tr>
          <td><%= exam.code%></td>
          <td><%= exam.fullname%></td>
          <td><%= exam.school%></td>
          <td><%=display_level(exam.level) %>
          </td>
          <td><%= link_to "บัตรประจำตัวสอบ" , url_for(:exam, :print, :id => exam.id) %></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  <%end%>
</div>
